{
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "docs/js/vendor"
        ]
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": "off"
  }
}